*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

background:
linear-gradient(
135deg,
#050505,
#24101c
);

color:white;

font-family:
Arial,
sans-serif;

height:100vh;

overflow:hidden;

}



.book{

height:100vh;

}



.page{

display:none;

height:100vh;

padding:40px;

text-align:center;

align-items:center;

justify-content:center;

flex-direction:column;

}



.page.active{

display:flex;

animation:
fade .8s;

}



@keyframes fade{

from{

opacity:0;

transform:translateY(30px);

}


to{

opacity:1;

transform:translateY(0);

}

}



h1{

font-size:55px;

color:#ff9fc8;

margin:25px;

}


h2{

font-size:35px;

margin:20px;

}



p{

font-size:20px;

line-height:2;

max-width:650px;

}



button{

margin:30px;

padding:15px 45px;

border:none;

border-radius:50px;

background:#ff6fa5;

color:white;

font-size:18px;

cursor:pointer;

}



button:hover{

transform:scale(1.1);

}



.photo{

width:250px;

height:300px;

background:#333;

border-radius:20px;

display:flex;

align-items:center;

justify-content:center;

}



input{

padding:15px;

border-radius:20px;

font-size:18px;

}



#result{

color:#ffb6d9;

}
