*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    height:100vh;

    overflow:hidden;

    background:
    linear-gradient(
        180deg,
        #151210,
        #3b3028
    );

    color:#fff;

    font-family:Georgia, serif;

}





/* 星空效果 */

body::before{

    content:"";

    position:fixed;

    inset:0;


    background-image:

    radial-gradient(
        white 1px,
        transparent 1px
    );


    background-size:70px 70px;


    opacity:.15;


    animation:stars 25s linear infinite;


}




@keyframes stars{

from{

transform:translateY(0);

}

to{

transform:translateY(-120px);

}

}








/* 每一页 */


.page{

height:100vh;

width:100%;


display:none;


justify-content:center;

align-items:center;


text-align:center;


padding:25px;


}




.page.active{

display:flex;


animation:

fadeIn 1.3s ease;

}






.content{


width:100%;

max-width:650px;


display:flex;

flex-direction:column;

align-items:center;


}





.chapter{


font-family:Arial,sans-serif;


font-size:12px;


letter-spacing:7px;


color:#d6c1a8;


margin-bottom:20px;


}







h1{


font-size:48px;


font-weight:400;


letter-spacing:1px;


margin:20px 0;


}



h2{


font-size:28px;


font-weight:400;


margin:20px 0;


}





p{


font-family:Arial,sans-serif;


font-size:18px;


line-height:1.9;


margin:12px 0;


color:#eee;


}








/* 照片 */


.photo{


width:270px;


height:340px;


object-fit:cover;


padding:10px;


background:#fff;


box-shadow:


0 25px 60px rgba(0,0,0,.6);



margin-bottom:20px;


animation:

photoIn 1.5s ease;


}





.photo:hover{


transform:scale(1.03);


}







/* 按钮 */


button{


width:210px;


height:55px;


margin-top:25px;


border-radius:40px;


border:

1px solid rgba(255,255,255,.5);



background:

rgba(255,255,255,.08);



backdrop-filter:

blur(10px);



color:white;


font-size:18px;


cursor:pointer;


transition:.3s;


}



button:hover{


background:white;


color:#222;


}



button:active{


transform:scale(.95);


}








/* 音乐按钮 */


.music-btn{


position:fixed;


right:20px;


top:20px;


width:55px;


height:55px;


border-radius:50%;


z-index:99;


margin:0;


padding:0;


font-size:22px;


}








/* 最后一页 */


.final h1{


text-shadow:


0 0 20px rgba(255,255,255,.8);



animation:

glow 3s infinite alternate;


}







@keyframes glow{


from{

text-shadow:

0 0 10px white;

}


to{

text-shadow:

0 0 35px white;

}


}









/* 页面出现 */


@keyframes fadeIn{


from{


opacity:0;


transform:

translateY(40px);


}


to{


opacity:1;


transform:

translateY(0);


}


}






/* 照片出现 */


@keyframes photoIn{


from{


opacity:0;


transform:

scale(.85);


}



to{


opacity:1;


transform:

scale(1);


}


}









/* 手机优化 */


@media(max-width:600px){



h1{

font-size:38px;

}



h2{

font-size:24px;

}




p{

font-size:16px;

}




.photo{


width:230px;


height:290px;


}



}
